/* Avenir LT Pro Font Family */

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProLightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProBook.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProBookOblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProRoman.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProOblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProMedium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProMediumOblique.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProHeavy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProHeavyOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTProBlackOblique.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}
